.commentCard {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    padding: 20px;
    border-radius: 4px;
  }
  
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .commentImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
  }
  
  .commentText, h5, h4 {
    margin: 4px 0;
    color: #333;
  }
  
  .commentText {
    font-size: 20px;
    font-weight: bold;
    font-family: "kidnapped";
  }
  
  .commentCard h5 {
    font-size: 14px;
    color: #666;
  }
  
  .commentCard h4 {
    font-size: 18pt;
    font-weight: normal;
    font-family: "dada antiquerist";
  }
