.homePage {
  background-image: url(https://res.cloudinary.com/dw1igjvgi/image/upload/v1711418141/isDemocracy/politik_wmuxtc.png);
  background-size: cover;
}
.statsAndAction {
  display: flex;
  place-content: center;
}
.columns {
  place-content: center;
  max-height: fit-content;
  width: fit-content;
  margin: 30px;
  margin-top: 10px;
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
}
#slogan {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 15pt;
  color: rgb(105, 5, 5);
  background-color: rgba(255, 238, 0, 0.486);
  text-align: center;
}
.bigNumber {
  font-family: "cutout";
  font-weight: bold;
  background-color: rgba(255, 238, 0, 0.486);
  font-size: 40pt;
  margin: 0;
  padding: 0;
}
.center {
  background-color: rgba(255, 238, 0, 0.486);
  margin: 0;
  padding: 0;
  font-size: 25pt;
  font-family: "dada";
  text-align: center;
  font-weight: bold;
}
