
button {
color:black;
background-image: url("https://res.cloudinary.com/dw1igjvgi/image/upload/v1711641879/buttonsedit_s4nuzk.png");
font-family: 'Old newspaper font', sans-serif;
align-self: center;
border-style: solid;
border-width: 2px;
font-size: 1.3rem;
}

.LoginPage {
    background: #f9eec3;
    border: 1px solid grey;
    box-shadow: 0px 2px 3px grey;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
  }