

nav {
    position: relative;
    width: 100%;
    height: fit-content;
    background-image: url(https://res.cloudinary.com/dw1igjvgi/image/upload/v1711897587/imageedit_2_6618379756_jm58qu.png);
    background-size: cover;
  }

  #navFrame {
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
  }

  nav ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    list-style-type: "\261B";
    place-content: center;
    margin: 0
  }

  nav li {
    padding-right: 25px;
    font-size: 25px;
  }

  .welcome{
    text-align: center;
    font-family: "kidnapped";
    font-size: 20pt;
    padding: 5px;
    margin: 0;
  }

  h1{
    font-family: "";
    text-align: center;
    font-size: 50pt;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  /* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  @media only screen and (min-width: 391px) {
    #dadaHandBurger{
      visibility: hidden;
      width: 0;
    }
  }

  @media only screen and (max-width: 390px) {
  #dadaHand{
    visibility: hidden;
    width: 0;
  }
}