nav {
  position: relative;
  width: 100%;
  height: fit-content;
  background-image: url(https://res.cloudinary.com/dw1igjvgi/image/upload/v1711897587/imageedit_2_6618379756_jm58qu.png);
  background-size: cover;
}

#navFrame {
  position: absolute;
  left: 0;
  top: 0;
}

nav ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  list-style-type: "\261B";
  place-content: center;
  margin: 0;
}

nav li {
  padding-right: 25px;
  font-size: 25px;
}

.navButton {
  color: black;
  background-image: url("https://res.cloudinary.com/dw1igjvgi/image/upload/v1711641879/buttonsedit_s4nuzk.png");
  font-family: "Old newspaper font", sans-serif;
  align-self: center;
  border-style: solid;
  border-width: 2px;
}

.welcome {
  text-align: center;
  font-family: "kidnapped";
  font-size: 20pt;
  padding: 5px;
  margin: 0;
}

nav h1 {
  font-family: "king";
  font-size: 20pt;
  text-align: center;
  padding-top: 10px;
  margin: 0;
}


@media only screen and (min-width: 390px) {
  #dadaHand {
    height: 47px;
  }
  #navFrame{
    height: 75px;
  }
  .navButton{
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  nav h1 {
    font-size: 45pt;
    padding-top: 30px;
  }
  .navButton{
    font-size: 16px;
  }
  #dadaHand {
    height: 50px
  }
  ul{
    right: 50px;
  }
  #navFrame{
    height: 115px;
  }
}

@media only screen and (min-width: 1000px) {
  nav h1 {
    font-size: 70pt;
    padding-top: 35px;
  }
  .navButton{
    font-size: 20px;
  }
  #dadaHand {
    height: 75px;
  }
  #navFrame{
    height: 150px;
  }  
}
